* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1.9em;
}

.container img {
  width: 150px;
}

button{
    width: 90px;
    height: 25px;
    cursor: pointer;
}
